<section id="hero" class="hero section">

    <img src="../../assets/img/elements/30.jpg" alt="" data-aos="fade-in">

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 data-aos="fade-up" data-aos-delay="1000">Partagez vos trajets, partagez vos aventures!</h2>
          <p data-aos="fade-up" data-aos-delay="200">Rejoignez notre communauté de conducteurs et de passagers qui simplifient les déplacements</p>
          <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
            <a   (click)="signin()" class="btn-get-started">
               Rechercher Votre Trajet</a>
          </div>

        </div>
      </div>
    </div>

  </section><!-- /Hero Section -->
  <app-about></app-about>
  <app-infos></app-infos>
  <app-plus-info></app-plus-info>
  <app-feature></app-feature>

