<!-- FAQ Section -->
<section id="faq" class="faq section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Questions Fréquemment Posées</h2>
    <p>Découvrez les réponses aux questions les plus courantes concernant notre service de covoiturage.</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row justify-content-center">

      <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

        <div class="faq-container">

          <div class="faq-item faq-active">
            <h3><i class="bi bi-car"></i> Comment réserver un trajet ?</h3>
            <div class="faq-content">
              <p>Pour réserver un trajet, connectez-vous à votre compte, choisissez votre itinéraire et sélectionnez une offre de covoiturage. Vous pourrez ensuite confirmer votre réservation et procéder au paiement en ligne.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

  

          <div class="faq-item faq-active">
            <h3><i class="bi bi-shield"></i> Comment est assurée ma sécurité pendant le trajet ?</h3>
            <div class="faq-content">
              <p>Notre service de covoiturage assure la sécurité de ses utilisateurs en vérifiant les antécédents des conducteurs et en mettant en place des protocoles de sécurité. Vous pouvez également consulter les évaluations des conducteurs et passagers pour plus de tranquillité d'esprit.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item faq-active">
            <h3><i class="bi bi-cash"></i> Quels sont les coûts associés au covoiturage ?</h3>
            <div class="faq-content">
              <p>Les coûts varient en fonction de la distance et de la durée du trajet. Les tarifs sont clairement indiqués lors de la réservation. Vous pouvez également consulter les offres spéciales et les réductions disponibles.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item faq-active">
            <h3><i class="bi bi-question-circle"></i> Comment obtenir de l'aide si j'ai un problème ?</h3>
            <div class="faq-content">
              <p>Pour obtenir de l'aide, vous pouvez contacter notre service client via le formulaire de contact sur notre site ou par téléphone. Nous sommes disponibles pour répondre à toutes vos questions et résoudre les problèmes éventuels.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

        </div>

      </div><!-- End Faq Column-->

    </div>

  </div>

</section><!-- /Faq Section -->
