<mat-dialog-content class="modal-content">
    <form [formGroup]="rideForm">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"         (click)="close()"
        ></button>
      </div>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="card-title mb-0">
              <h1>
                <i style="color: rgb(46, 44, 39)" class="menu-icon fas fa-sync"></i>
                <b>Editer</b>
              </h1>
            </div>
            <br>
              <div class="steps">
                <div class="step" [class.active]="currentStep === 1" (click)="setStep(1)">
                  <div class="step-number"><i>1</i></div>
                  <div class="step-title">Conducteur</div>
                </div>
                <div class="bar"></div>
                <div class="step" [class.active]="currentStep === 2" (click)="setStep(2)">
                  <div class="step-number"><i>2</i></div>
                  <div class="step-title">Voiture</div>
                </div>
                <div class="bar"></div>
                <div class="step" [class.active]="currentStep === 3" (click)="setStep(3)">
                  <div class="step-number"><i>3</i></div>
                  <div class="step-title">Trajet</div>
                </div>
                <div class="bar"></div>
                <div class="step" [class.active]="currentStep === 4" (click)="setStep(4)">
                  <div class="step-number"><i>4</i></div>
                  <div class="step-title">Options</div>
                </div>
              </div>
  
              <div *ngIf="currentStep === 1">
                <div class="row">
                  <div class="col-md-12">
                    <h6><mat-icon>person</mat-icon> Informations du Conducteur</h6>
                  </div>
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                        
                      <label for="inputEmail4">Nom </label>
                      <input matInput formControlName="nom" class="form-control" placeholder="  Nom">
                    </div>
                  </div>
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label for="inputEmail4">Prénom</label>
                      <input matInput formControlName="prenom" class="form-control" placeholder=" Prénom">
                    </div>
                  </div>
                  <div class="col-md-6 pl-1">
                    <div class="form-group">
                      <label class="label-large">Numéro du Téléphone</label>
                      <input matInput formControlName="numDriver" class="form-control" placeholder="Numéro du Téléphone">
                    </div>
                  </div>
                  <div class="col-md-6 pl-1">
                    <div class="form-group">
                      <label class="label-large">Genre</label>
                      <select matInput formControlName="gender" class="form-control">
                        <option>Homme</option>
                        <option>Femme</option>
                        <option>Autre</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                        <label class="label-large">Photo du Profil</label>
                        <input matInput formControlName="photoDriver" class="form-control" placeholder="Photo du Profil" [value]="imageUrl ? imageUrl : ''" readonly>
                        <ngx-dropzone class="small-dropzone" (change)="onSelectDriverImage($event)">
                          <ngx-dropzone-label>Ajoutez votre photo</ngx-dropzone-label>
                          <ngx-dropzone-preview *ngFor="let f of driverFiles" [removable]="true" (removed)="onRemoveDriverImage(f)">
                            <ngx-dropzone-label>{{f.name}}</ngx-dropzone-label>
                          </ngx-dropzone-preview>
                        </ngx-dropzone>
                        <img *ngIf="imageUrl" [src]="imageUrl" alt="Photo du conducteur" style="width: 100px; height: auto; margin-top: 10px;">
                      </div>
                  </div>
                </div>
              </div>
  
              <div *ngIf="currentStep === 2">
                <div class="row">
                  <div class="col-md-12">
                    <h6><mat-icon>directions_car</mat-icon> Informations de la Voiture</h6>
                  </div>
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label for="inputEmail4">Marque</label>
                      <input matInput formControlName="marque" class="form-control" placeholder="Marque">
                    </div>
                  </div>
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label class="label-large">Nombre de places disponibles</label>
                      <input matInput formControlName="nbrPlaceDispo" type="number" class="form-control" placeholder="Nombre de Places Disponibles">
                    </div>
                  </div>
                  <div class="col-md-6 pl-1">
                    <div class="form-group">
                      <label for="inputEmail4">Numéro de Série</label>
                      <input matInput formControlName="numSerie" class="form-control" placeholder="Numéro de Série">
                    </div>
                  </div>
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label class="label-large">Tarif</label>
                      <input matInput formControlName="tarif" class="form-control" placeholder="Tarif">
                    </div>
                  </div>
                  <div class="col-md-6 pl-1">
                    <div class="form-group">
                        <label class="label-large">Photo de la Voiture</label>
                        <input matInput formControlName="photoVoiture" class="form-control" placeholder="Photo de la Voiture" [value]="imageUrl ? imageUrl : ''" readonly>
                        <ngx-dropzone class="small-dropzone" (change)="onSelectCarImage($event)">
                          <ngx-dropzone-label>Ajoutez votre photo</ngx-dropzone-label>
                          <ngx-dropzone-preview *ngFor="let f of carFiles" [removable]="true" (removed)="onRemoveCarImage(f)">
                            <ngx-dropzone-label>{{f.name}}</ngx-dropzone-label>
                          </ngx-dropzone-preview>
                        </ngx-dropzone>
                        <img *ngIf="imageUrl" [src]="imageUrl" alt="Photo de la voiture" style="width: 100px; height: auto; margin-top: 10px;">
                      </div>
                  </div>
                </div>
              </div>
  
              <div *ngIf="currentStep === 3">
                <div class="row">
                  <div class="col-md-12">
                    <h6><mat-icon>map</mat-icon> Informations du Trajet</h6>
                  </div>
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label class="label-large">Location de départ</label>
                      <mat-select formControlName="lieuDeDepart" class="form-control" placeholder="Départ">
                        <mat-option *ngFor="let location of locations" [value]="location">{{ location }}</mat-option>
                      </mat-select>
                    </div>
                  </div>
                  <div class="col-md-6 pl-1">
                    <div class="form-group">
                      <label class="label-large">Location de destination</label>
                      <mat-select formControlName="lieuDesti" class="form-control" placeholder="Destination">
                        <mat-option *ngFor="let location of locations" [value]="location">{{ location }}</mat-option>
                      </mat-select>
                    </div>
                  </div>
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label class="label-large">Heure de Départ</label>
                      <input matInput formControlName="timeDepart" type="time" class="form-control" placeholder="Heure de Départ">
                    </div>
                  </div>
                  <div class="col-md-6 pl-1">
                    <div class="form-group">
                        <label class="label-large">Date de départ</label><br>
                        <mat-form-field>
                          <mat-label>Choisir la date</mat-label>
                          <input matInput [matDatepicker]="picker" formControlName="dateDepart">
                          <mat-hint>MM/DD/YYYY</mat-hint>
                          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker startView="year"></mat-datepicker>
                        </mat-form-field>
                      </div>
                      
                  </div>
                </div>
              </div>
  
              <div *ngIf="currentStep === 4">
                <div class="row">
                  <div class="col-md-12">
                    <h6><mat-icon>tune</mat-icon> Autres Options</h6>
                  </div>
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <mat-checkbox formControlName="climatisation"><mat-icon>ac_unit</mat-icon> Climatisation</mat-checkbox>
                    </div>
                  </div>
                  <div class="col-md-6 pl-1">
                    <div class="form-group">
                      <mat-checkbox formControlName="bagage"><mat-icon>card_travel</mat-icon> Bagage</mat-checkbox>
                    </div>
                  </div>
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <mat-checkbox formControlName="fumeur"><mat-icon>smoking_rooms</mat-icon> Fumeur</mat-checkbox>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
      <div class="col-3"></div>
      <div class="col-12 d-flex justify-content-end custom-button-group"  style="float: center;">
        <button type="button"class="btn" style="background-color: #403e3e; color: white;" data-bs-dismiss="modal" (click)="close()">Annuler</button>

        <button type="button" class="btn" style="background-color: #d50e0e; color: white;" (click)="confirm()">Confirmer</button>
      </div>
  </mat-dialog-actions>
  
  <style>
      .custom-button-group button {
        
        margin-right: 20px; /* Ajustez la marge comme nécessaire */
      }
    mat-dialog-container {
      max-width: 100vw !important;
      width: 100vw !important;
      height: 100vh !important;
      max-height: 100vh !important;
      padding: 0 !important;
    }
  
    mat-dialog-content {
      height: calc(100vh - 56px); /* Adjust based on header/footer height */
      overflow-y: auto;
    }
  </style>
  