<section id="register" class="register section">
  <div class="register-container">
    <div class="register-image">
      <img src="../../../assets/img/elements/32.png" alt="Register Image" />
    </div>
    <form *ngIf="conducteur" [formGroup]="conducteur" (ngSubmit)="submitForm()">
      <div class="card-header app-brand justify-content-center" style="margin: -20px;">
        <a href="index.html" class="app-brand-link gap-2">
          <span class="app-brand-logo demo">
            <img src="./../../../assets/img/logo/CoRoute.PNG" height="150" width="250">
          </span>
        </a>
      </div>
      <div class="card-body">
        <h2 class="mb-2 large-text-black">S'inscrire</h2>
        <p class="mb-4">Bienvenue chez CommuRoute App</p>
        
        <div class="mb-3">
          <label for="nom" class="form-label">Nom</label>
          <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Entrez votre nom" required />
        </div>
        
        <div class="mb-3">
          <label for="prenom" class="form-label">Prénom</label>
          <input type="text" class="form-control" id="prenom" formControlName="prenom" placeholder="Entrez votre prénom" required />
        </div>
        
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Entrez votre email" required />
        </div>
        
        <div class="mb-3 form-password-toggle">
          <label for="password" class="form-label">Mot de passe</label>
          <div class="input-group input-group-merge">
            <input type="password" id="password" class="form-control" formControlName="password" placeholder="••••••••" aria-describedby="password" required />
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
          </div>
        </div>
        
        <div class="mb-3">
          <label for="numDriver" class="form-label">Numéro du Conducteur</label>
          <input type="text" class="form-control" id="numDriver" formControlName="numDriver" placeholder="Entrez votre numéro de conducteur" required />
        </div>
        
        <div class="mb-3">
          <label for="gender" class="form-label">Genre</label>
          <input type="text" class="form-control" id="gender" formControlName="gender" placeholder="Entrez votre genre" required />
        </div>
        <div class="mb-3">
          <div class="form-group">
            <label class="label-large">Photo du Profil</label>
            <input matInput formControlName="photoDriver" class="form-control" placeholder="Photo du Profil">
            <ngx-dropzone class="small-dropzone" (change)="onSelectDriverImage($event)">
              <ngx-dropzone-label>Ajoutez votre photo</ngx-dropzone-label>
              <ngx-dropzone-preview *ngFor="let f of driverFiles" [removable]="true" (removed)="onRemoveDriverImage(f)">
                <ngx-dropzone-label>{{f.name}}</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
          </div>
        </div>
        <div class="mb-3">
          <button class="btn d-grid w-100" style="background-color: #003064; color: white;" type="submit">S'inscrire</button>
        </div>
        
        <br>
        <strong>Vous avez déjà un compte ? <button class="btn btn-link" (click)="login()">S'authentifier</button></strong>
      </div>
    </form>
  </div>
</section>
