<!-- About Section -->
<section id="about" class="about section section-bg dark-background">

  <div class="container position-relative">

    <div class="row gy-5">

      <div class="content col-xl-5 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
        <h3><mat-icon>directions_car</mat-icon>   Découvrez les Avantages du Covoiturage</h3>
        <p>
          <img src="../../assets/img/elements/aboutVoiture.jpg" class="img-fluid animated" alt="Voiture">
        </p>
        <p>Rejoignez une communauté de conducteurs et passagers qui partagent les mêmes valeurs d'économie, d'écologie et de convivialité.</p>
      </div>

      <div class="col-xl-7" data-aos="fade-up" data-aos-delay="200">
        <div class="row gy-4">

          <div class="col-md-6 icon-box position-relative">
            <i class="bi bi-car"></i>
            <h4><a href="" class="stretched-link">Voyagez Confortablement</a></h4>
            <p>Choisissez parmi une variété de véhicules pour un trajet confortable et agréable.</p>
          </div><!-- Icon-Box -->

          <div class="col-md-6 icon-box position-relative">
            <i class="bi bi-tree"></i>
            <h4><a href="" class="stretched-link">Réduisez Votre Empreinte Carbone</a></h4>
            <p>Partagez des trajets pour diminuer les émissions de CO2 et contribuer à un environnement plus sain.</p>
          </div><!-- Icon-Box -->

          <div class="col-md-6 icon-box position-relative">
            <i class="bi bi-people"></i>
            <h4><a href="" class="stretched-link">Rejoignez une Communauté</a></h4>
            <p>Faites de nouvelles rencontres et faites partie d'une communauté engagée.</p>
          </div><!-- Icon-Box -->

          <div class="col-md-6 icon-box position-relative">
            <i class="bi bi-cash"></i>
            <h4><a href="" class="stretched-link">Économisez sur Vos Déplacements</a></h4>
            <p>Partagez les frais de trajet avec d'autres passagers pour des économies considérables.</p>
          </div><!-- Icon-Box -->

          <div class="col-md-6 icon-box position-relative">
            <i class="bi bi-shield"></i>
            <h4><a href="" class="stretched-link">Voyagez en Toute Sécurité</a></h4>
            <p>Nos mesures de sécurité garantissent que chaque trajet se déroule dans les meilleures conditions.</p>
          </div><!-- Icon-Box -->

        </div>
      </div>

    </div>

  </div>

</section><!-- /About Section -->
