<section id="Plusinfo" class="about section section-bg dark-background">
    <div class="container" data-aos="fade-up">
     
      <div class="centere">
        <div class="container section-title" data-aos="fade-up">
            <h2>CommuRoute</h2>
            <p>Facilitez vos trajets en partageant la route, économisez du temps et de l'argent tout en contribuant à un avenir plus durable.</p>
          </div><!-- End Section Title -->
      <div class="row content">
        <div class="col-lg-6 order-lg-1">
          <img  src="../../assets/img/elements/37.jpg" class="img-fluid" alt="Description de l'image">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-lg-2 align-self-center">
            <img  src="../../assets/img/elements/30.jpg" class="img-fluid" alt="Description de l'image">

        </div>
      </div>
    </div>
  
    </div>
  </section><!-- End Plusinfo Us Section -->
  